@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

body,
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    min-height: 600px;

}

h1 {
    width: 100%;
    font-size: 2rem;
    color: rgb(253, 234, 177);
    text-align: center;
    padding-bottom: .4rem;
    border-bottom: 2px solid rgb(227, 190, 4);
    margin: 0px;
    font-family: Oleo Script, Geneva, Audiowide, Tahoma, sans-serif, Verdana;
}


.head {
    position: sticky;
    top: -1px;
    background-color: rgba(246, 169, 15, .4);
    margin: 0px;
}


.container {
    width: 100%;
    /* height: 100%; */
    margin: 0px;
    padding: 0px;
    border-radius: 0 0 2em 2em;
    color: rgb(238, 180, 4);
    background-image: url('../img/63.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 0.02px solid rgb(249, 138, 34);
    /*just remove this border to see the difference, its like magic*/

}

.search_box {

    width: 95%;
    margin: 1em auto;

}

label,
input,
select {
    width: 100%;
    margin: 8px auto;
    padding: .6em;
    border: 0px;
}

input,
select {
    border-radius: 1em;
}

label {
    font-size: 1em;
}

/* table {
    margin: .8em auto;
}

td {
    border-right: 2px solid rgb(238, 180, 4);
    padding: .4em;
} */

button {
    border-radius: 2em;
    padding: .8em;
    margin-top: .4em;
    border: 0px;
    cursor: pointer;
}

input:hover,
.search_box > form > button:hover,
.sel :hover {
    border: 2px solid rgb(247, 198, 51);
    box-shadow: 0 0 3px rgb(247, 198, 51);
}

.feed {
    width: 100%;
    /* margin: 1em; */
    margin-bottom: 10rem;
    /* border: 2px solid black; */
    border-radius: 1rem;
    display: inline-block;
    /* padding: 1em; */
    /* display: flex; */
    /* flex-direction: column; */
    /* display: flex-box; */
    /* justify-content: space-evenly; */

}

.feed-box {
    background-color: rgba(203, 137, 6, 0.5);
    margin: auto;
    margin-top: .5em;
    border-radius: .9em;

    /* max-width: 600px; */
}



.feed-box > h4 {
    color: rgb(253, 248, 242);
    margin: 0;
    text-align: left;
    padding: .5em;
    padding-left: 2em;
    font-size: 1.1em;
}

.feed-bottom {
    display: block;
}

.feed-img {
    width: 100%;
    /* width: 20%; */
    /* height: 100%; */
    margin: 0;
    padding: .3em;
    /* border: 2px solid white; */
    text-align: center;
    display: flex;
    align-items: center;
    /* position: relative; */

}

.feed-img > img {
    width: 100%;
    height: auto;
    max-width: 250px;
    /* height: 6em;
    width: 6em; */
    border-radius: 2em;
    margin: auto;

}

.feed-text {
    display: inline;
    width: 80%;
    margin: 0;
    padding: .5em;
    text-align: center;
    color: bisque;
    font-size: 1.1em;
    /* border: 2px solid white; */
}

/* animations */
/* 
@keyframes back_img {
    from {
        background-image: url('img/63.jpg');
        color: rgb(238, 180, 4);
    }

    to {
        background-image: url('img/62.jpg');
        border-bottom: 2px solid rgb(247, 198, 51);
    }
} */



@keyframes text_align {
    0% {
        left: 28%;
        /* border: none; */
    }

    100% {
        left: 0%;
    }
}

@keyframes heading_reverse {
    0% {
        left: -20%;
        /* border: none; */
    }

    100% {
        left: 0%;
        /* border: none; */
    }
}

/* media queries */
@media screen and (min-width: 800px) {

    h1 {
        animation-name: text_align;
        animation-duration: 2s;
        border-bottom: 2px solid rgb(247, 198, 51);
        color: rgb(247, 198, 51);
        text-align: left;

    }

    /* .feed {
        width: 100%;
    } */



    /* body,
    html {
        animation-name: back_img;
        animation-duration: 4s;
        background-image: url('img/62.jpg');

    } */

    .container {
        animation-name: back_img;
        animation-duration: 6s;
        /* color: #fa8459;
        background-image: url('img/62.jpg'); */
    }

    /* td {
        border-color: #fa8459;
        padding: .6rem;
    }*/
    .search_box {
        width: 70%;
    }

    label {
        font-size: 1.2em;
    }
}

/*for feed */
@media screen and (min-width: 500px) {
    .feed-box {
        width: 40vw;
        min-width: 460px;
    }

    .feed div.feed-box:nth-child(odd) {
        float: left;
        clear: both;
        margin-left: 1em;
    }

    .feed div.feed-box:nth-child(even) {
        float: right;
        clear: both;
        margin-right: 1em;
    }

    .feed-bottom {
        display: flex;
        /* max-width: 500px; */
    }

    .feed-img {
        width: 20%;
    }

    .feed-img > img {
        width: 6em;
        height: 6em;
        border-radius: 3em;
    }

    .search_box {
        width: 50vw;
    }


}

@media screen and (max-width:800px) {
    h1 {
        animation-name: heading_reverse;
        animation-duration: 5s;
        animation-delay: -2s;
        animation-timing-function: ease-in-out;

    }

    /* body,
    html {
        animation-name: back_img;
        animation-duration: 5s;
        animation-direction: reverse;
        animation-delay: -2s;
        animation-timing-function: ease-in-out;
    } */

    .container {
        animation-name: back_img;
        animation-duration: 3s;
        animation-duration: reverse;
        animation-delay: -1s;
        animation-timing-function: ease-in-out;
    }


}

/* slide_show CSS */
.outer {
    /* position: relative; */
    width: 100%;
    height: 22rem;
    /* border: 2px solid white;
    border-bottom: 2px solid black; */
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
    /* position: relative; */
    margin: 0px auto;
    margin-top: -10em;
    /* overflow-x: scroll; */
    overflow-y: hidden;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    background-color: rgba(223, 223, 223, .2);
    /* background-color: rgba(32, 4, 4, 10); */
    padding: 1rem 1rem;


}

.outer::-webkit-scrollbar {
    display: none;
}

/* .img_box {
    margin: .4rem;
    width: 33%;
    height: auto;
    display: inline;
    border: 4px solid pink;
}

.img_box>img {

    width: 100%;
    height: auto;

} */

/* .slideShow {
    margin: 0px;
} */

/* .outer {
    animation-name: slideShow;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
    animation-timing-function: ease;
} */



.book {
    padding: 9em 7em;
    margin: 0.8em;
    border-radius: 3rem;
    display: inline;
    background-color: rgba(238, 180, 4, 0.2);

}

.sliding_effect {
    background-size: cover;
    position: relative;
    animation-name: slideShow;
    animation-duration: 15s;
    animation-delay: -1s;
    /* animation-direction: alternate; */
    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

@keyframes slideShow {
    0% {
        width: inherit;
        left: 0%;

    }

    100% {
        width: inherit;
        left: -135%;
    }

}

.book:hover {
    padding: 10em 8em;
    box-shadow: 0 0 4px 6px silver;
}

/* lets make up our footer  */

.footer {
    width: 100%;
    height: aut0;
    margin: 0;
    margin-top: .8rem;
    padding: .4em;
    background-color: #dbdbdb;
    /* justify-content: center;
    align-items: center; */
    text-align: center;

}

.footer > a {
    margin: .3em;
    color: black;
    text-decoration: none;
}

.footer > button {
    margin: .5em auto;
    cursor: pointer;
}


.footer > p {
    margin: 0;
    font-size: x-large;
}